.DS_Store
.vscode/
amazon-kinesis-video-streams-producer-sdk-cpp/
webcam_to_kinesis
faces/
__pycache__/
kinesis_ios/
output/
dataset/Abhinav Tekulapally/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
