{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  {{ super() }}
  <div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
				{% endfor %}
			{% endif %}
    		{% endwith %}
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Log In</h5>
					{% block content %}
					<form action="/login" method="post">
						{{ form.hidden_tag() }}
						<p>
							{{ form.username.label }}<br>
							{{ form.username(size=32) }}
						</p>
						<p>
							{{ form.password.label }}<br>
							{{ form.password(size=32) }}
						</p>
						<p>{{ form.submit() }}</p>
					</form>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}